<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
<h1>Whine Time</h1>
 <% @product.reviews.each do |review| %>
   <p>
     <strong>User</strong>
     <%= review.user.name %>
   </p>
       <strong>Rating</strong>
     <%= review.rating %>
   </p>

   <p>
     <strong>review:</strong>
     <%= review.description %>
   </p>
 <% end %>

   <h4>Tell us what you think:</h4>
 <%= form_for [@product, Review.new] do |f| %>

   <p>
     <%= f.label 'rating' %><br>
     <%= f.select :rating, options_for_select(0..5) %>
   </p>
   <p>
     <%= f.label 'description' %><br>
     <%= f.text_area :description %>
   </p>
   <p>
     <%= f.submit 'Create Review' %>
   </p>
 <% end %>


 <%= link_to 'Back', products_path %>
  </article>

</section>
